# app
Flask==3.0.0
sqlalchemy==2.0.*
Flask-Cors==6.0.0
psycopg2-binary
python-dateutil
tenacity
pyodbc
# tests
pytest
pytest-icdiff
mypy
requests
apscheduler
Flask-Admin
python-jose[cryptography]
python-dotenv
flask-cors

## Szybka instalacja
#```bash
# W swoim venv
#pip install -r requirements.txt

# Lub development set
#pip install -r requirements.txt -r requirements-dev.txt
